{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'log_sales.js') }}"></script>
    
    <script>
        let data = {{data|tojson}} 
        console.log(data)
    </script>
    
    <div id="sale_entry">
        name: <input id="salesPersonInput"></input>  
        client: <input id="clientInput"></input>  
        reams: <input id="reamsInput"></input>  
        <button id="submit_sale" disabled>Submit</button>
    </div>
    <div id="error-messages">
        <span class="error-msg" id="salesPersonError" style="color: red; display: none;">
            Please enter a valid salesperson name.
            <br>
        </span>
        <span class="error-msg" id="clientError" style="color: red; display: none;">
            Please enter a valid client name.
            <br>
        </span>
        <span class="error-msg" id="reamsError" style="color: red; display: none;">
            Please enter a valid amount of reams.
        </span>

    </div>

    <div id="trash">
        Drag here to delete
    </div>

    <div id="sales_container">
    </div>


{% endblock %}