{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'log_sales.js') }}"></script>
    
    <script>
        let data = {{data|tojson}} 
        console.log(data)
    </script>
    
    <div id="sale_entry">
        name: <input id="salesPersonInput"></input>  
        client: <input id="clientInput"></input>  
        reams: <input id="reamsInput"></input>  
        <button id="submit_sale" disabled>Submit</button>
    </div>

    <div id="trash">
        Drag here to delete
    </div>

    <div id="sales_container">
    </div>


{% endblock %}