{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'log_sales.js') }}"></script>
    
    <script>
        let sales = {{sales|tojson}} 
        console.log(data)
    </script>
    
    <div id="sale_entry_container">
        name: <input id="salesPersonInput"></input>  
        client: <input id="clientInput"></input>  
        reams: <input id="reamsInput"></input>  
        <button id="submit_sale">Submit</button>
    </div>

    <div id="sale_container">
    </div>

<div id="trash" class="delete modern">
    Delete
</div>

{% endblock %}