.header {
    text-align: left;
    color: white;
    width: 100%;
    background-color: #385988;
    font-size: 50px;
    padding-top: 40px;
    padding-left: 20px;
    padding-bottom: 15px;
    font-family: "Cinzel", serif;
}

.logo {
    width: 110px;
    height: 110px;
}

.logo-sm {
    width: 40px;
    height: 40px;
}

.space_sm {
    padding-left: 40px;
}

.input-text {
    color: black;
}

.margin-v {
    padding-top: 10px;
}

#trash {
    border: 2px dashed #ccc;
    padding: 1rem;
    margin: 1rem 0;
    text-align: center;
}